@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.family {
    @include max-width;
    min-height: $banner;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: $s40;

    padding: 0 $s80;
    padding-top: $s16;

    background: url('../../assets/fundo2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;

    position: relative;

    transition: .2s;

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &.left {
            align-self: flex-end;
        }

        &.right {
            align-items: flex-start;
        }

        &.check-flex {
            flex-flow: row wrap;
            gap: $s40;
        }

        @media(max-width: 570px) {
            .check-flex {
                justify-content: center;
                gap: $s12;
            }
        }
    }

    p {
        max-width: 68.9rem;
        font-size: $s16;
        margin-bottom: $s36;
    }

    .left img {
        width: 100%;
        min-width: 30rem;
    }

    @media(min-width: 1440px) {
        background: none;

    }

    @media(max-width: 940px) {
        padding: $s80;
        padding-bottom: 0;
        flex-direction: column-reverse;

    }

    @media(max-width: 720px) {
        padding: $s80 $s16;
        padding-bottom: 0;
        background-size: cover;        
    }

    @media(max-width: 526px) {
        h2 span {
            display: block;
        }
    }
}