// variaveis de cor
$primary:#fff;
$secondary: #787878;
$contrast: #FF0202;
$bg-black: #000;
$bg-dark: #222;
$bg-gray: #B4B4B4;
$bg-red: #A03333;

// variaveis de tamanho
$s8: 0.8rem;
$s12: 1.2rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s20: 2.0rem;
$s24: 2.4rem;
$s28: 2.8rem;
$s32: 3.2rem;
$s36: 3.6rem;
$s40: 4.0rem;
$s56: 5.6rem;
$s60: 6.0rem;
$s64: 6.4rem;
$s80: 8.0rem;
$s90: 9.0rem;
$s144: 14.4rem;

// banner size
$banner: 60rem;
//  sections size
$section: 100vh;
$section-dark: 60vh;