@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

nav {
    width: 100%;
    height: $s60;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: $s32;   
        
        li a {
            font-family: 'Bebas Neue', sans-serif;
            padding: $s8 $s16;
            font-size: $s24;
            line-height: $s28;
            text-transform: uppercase;
        }
        
        li:nth-last-child(1) a {
            @include button;
            @include polygon;
            @include default-polygon;
            @include hover-black;
        }
        @media (max-width: 944px) {
            display: none;
            opacity: 0;            
            transition: opacity 5s;  
        }        
    } 
      
}