@import '../../styles/variables.scss';

.section {
    width: 100%;
    min-height: $section;
    padding: $s80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $s40;
    margin-bottom: $s32;

    transition: .5s;

    .card-list {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
    }       
    
    @media(max-width: 1120px) {
        .card-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(max-width: 730px) {
        padding: $s80 $s16;
        .card-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}