@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer { 
    @include max-width;
    padding: $s80;
    img{
        margin-bottom: $s24;
    }
    
    p {
        font-size: $s12;
        margin-top: $s8;
        a {
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}